/* Comienzo CSS seccion COBERTURAS */
.seguros {
	padding-bottom: 16px;
}
.coberturas {
	padding-top: 16px;
	&__fondo {
		border: 1px solid white;
		max-width: 370px;
        min-width: 234px;
        width: 23rem;
        height: 15rem;
	}
    &__tit-seg {
        background-color: $background-general;
        max-width: 300px;
        height: 3.33rem;
        margin-top: -25px;
        border-radius: 50px;
        border: 1px solid white;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 1.2rem;
            color: white;
        }
    }
/*Animacion de imagenes*/
    &__info {
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: 370px;
        min-width: 234px;
        width: 22rem;
        height: 14rem;
        border-radius: 6px;
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        background: transparentize($background-general, 0.2);
        @media screen and (min-width: 200px) and (max-width:450px) {
            overflow: hidden;
        }
        &-title {
            color: white;
            font-weight: 700;
            font-size: 1.5rem;
            transition: all 500ms ease-out;
            @media screen and (min-width: 200px) and (max-width:450px) {
              font-size: 1.3em;
            }
        }
        &-txt {
            color: white;
            font-size: 1rem;
            max-width: 16rem;
            margin: auto;
            @media screen and (min-width: 200px) and (max-width:450px) {
                width: 100%;
                font-size: 1em;
                margin: auto;
            }
        }
        &-img{
            &-link{
                text-decoration: none;
                outline: none;
                display: inline-block;
                width: 10rem;
            }
            &-img{
                padding: 2px;
                width: 9rem;
                max-height: 50px;
                object-fit: contain;
                &:hover{
                    background-color: transparentize($background-general, 0.2);
                    border: 1px solid white;
                    border-radius: 10px;
                }
            }
        }
    }
}
.coberturas:hover > .coberturas__info {
    opacity: 1;
    visibility: visible;
}
.coberturas:hover > 
.coberturas__info .coberturas__info-title {
    margin-top: 7%;
}
