/* Comienzo CSS INDEX */
/* CAROUSEL DE IMAGENES */
.carousel-caption {
    background-color: transparentize($background-general, 0.7);
    font-size: 20px;
    h2{
        font-size: 30px;
    }
}
.Carrousel__Img {
	max-height: calc(100vh - 85px);
}

/* CSS Sub-seccion Comapñias */
.Companias {
	padding-top: 16px;
	background-image: linear-gradient(to bottom, whitesmoke, $background-general 75%);
    &__Titulo {
        font-size: 25px;
        font-style: oblique;
        text-align: left;
        color: white;
        line-height: 30px;
        justify-self: left;
        padding-left: 50px;
        padding-right: 20px;
        background-color: $background-general;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        margin-left: -15px;
    }
    &__Img {
        padding-top: 16px;
        transition: transform 1s;
        width: 90%;
        max-width: 240px;
        &:hover {
            transform: scale(1.25,1.25);
        }
    }
    &__Texto {
        font-size: medium;
        text-align: center;
        color: white;
        line-height: 30px;
        padding-top: 16px;
    }
}

/* 3ra Seccion: banner WhatsApp */
.Banner {
	background-color: $background-general;
	padding: 10px 20px;
    &__Texto {
        color: white;
        font-size: 3rem;
        line-height: 50px;
    }
    &__Link {
        text-decoration: none;
    }
    &__Img {
        width: 125px;
        height: 125px;
        transition: 1s;
        &:hover {
            transform: scale(1.25,1.25);
        }
    }
}
.BannerWp {
	background-image: radial-gradient($color-wsp--light, $color-wsp--dark);
	max-width: 1300px;
	padding: 30px;
	border-style: groove;
	border-color: $background-general;
	border-radius: 100px;
	margin: 16px;
	overflow: hidden;
}
