/* COMIENZO CSS SECCION NOSOTROS */
.ContenedorNosotros {
	margin-top: 16px;
	margin-bottom: 16px;
	h2 {
		text-shadow: 0 0 10px #000;
	}
}
.Equipo {
	padding: 10px 10px 10px 10px;
	line-height: normal;
	text-align: center;
	font-size: 1rem;
	align-self: center;
	ul {
		list-style-type: none;
	}
	&__perfil {
		display: block;
		margin: auto;
		margin-top: 16px;
		img{
			width: 15rem;
		}
		&__nombre{
		background-color: $background-general;
        max-width: 300px;
		min-width: 150px;
        height: 5rem;
        margin-top: -25px;
        border-radius: 50px;
        border: 1px solid white;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
		color: white;
		}
	}
}
.Historia {
	padding: 10px 10px 10px 10px;
	padding-left: 32px;
	margin-right: 16px;
	margin-left: 16px;
	margin-top: 16px;
	background-color: white;
	box-shadow: 0 0 10px white;
	border-radius: 30px;
	& p{
		font-size: 1rem;
	}
}
.Ubicacion {
	color: white;
	width: 100%;
	height: fit-content;
	text-align: center;
	h2 {
		color: white;
		text-shadow: 0 0 10px #000;
	}
}