/* COMIENZO CSS DE LA SECCION SINIESTRO */
.info {
	background-color: $footer;
	border-radius: 50px;
	width: 100%;
	margin-top: 16px;
	text-align: center;
	font-size: 1.5rem;
	padding: 16px;
}
.Formulario {
	margin-top: 16px;
	margin-bottom: 16px;
}
.FormularioSiniestro {
	background-color: white;
	box-shadow: 0 0 10px black;
	border-style: outset;
	border-color: $background-general;
	padding: 16px;
	max-width: 800px;
	display: block;
	margin: auto;
    &__Set {
        background-color: darken(white,5);
    }
}
.ContenedorBanner {
	background-image: radial-gradient($color-wsp--light, $color-wsp--dark);
	box-shadow: 0 0 10px white;
	border-radius: 60px;
	padding: 16px;
	max-width: 800px;
	display: block;
	margin: auto;
}
.BannerSiniestro__Texto {
	line-height: 2rem;
	color: white;
	font-size: 1.7rem;
	padding-right: 10px;
	text-align: center;
	text-decoration: underline white;
}
.Wsp {
	padding-top: 30px;
	height: fit-content;
	text-align: center;
    &__Img {
        width: 12rem;
        height: 12rem;
        margin-top: 30px;
    }
    &__Texto {
        color: white;
        font-size: 1.7rem;
        line-height: 1.7rem;
        text-align: center;
    }
    &__Link {
        text-decoration: none;
    }
}