/* COLORES REDES*/
$color-wsp--dark: #075E54;
$color-wsp--light: #25D366;
$color-twitter: #55acee;
$color-face:  #3a5795;
$color-insta--purple: #833AB4;
$color-insta--blue: #5B51D8;
$color-insta--orange: #F56040;

/* COLORES TEMA */
$background-general: #081B26;
$header: #077fb1;
$logo: #1daeed;
$footer: #929fba;