@charset "UTF-8";
/* CSS GENERAL */
/* COLORES REDES*/
/* COLORES TEMA */
:root {
  font-size: 16px;
}

@media (max-width: 576px) {
  :root {
    font-size: 12px;
  }

  .espacio {
    height: 73px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  .espacio {
    height: 76px;
  }
}
@media (min-width: 768px) {
  .espacio {
    height: 79px;
  }
}
html {
  position: relative;
}

* {
  margin: 0;
  box-sizing: border-box;
  animation-duration: 1s;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  line-height: 1.6rem;
  margin: 0px;
}

h1 {
  color: white;
  text-shadow: 0 0 10px #000;
}

.Contenido {
  background-image: linear-gradient(to bottom, whitesmoke, #081B26 75%);
  padding-top: 16px;
  padding-bottom: 16px;
}

.flotante {
  position: fixed;
  width: 60px;
  height: 57px;
  bottom: 72px;
  right: 15px;
  background-color: rgba(37, 211, 102, 0.8);
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 34px;
  box-shadow: 2px 2px 3px black;
  z-index: 6;
  padding: 10px;
}
.flotante i {
  font-size: 35px;
  color: white;
}
.flotante:hover {
  background-color: #075E54;
}

/* Videos de YouTube responsive */
.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  /* 16/9 ratio */
  padding-top: 30px;
  /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* IMPORTACIONES */
/* Menu de navegacion */
.navbar {
  background-color: rgba(7, 127, 177, 0.95);
}

.Redes {
  min-width: 120px;
  justify-content: space-between;
  text-align: center;
}
.Redes li {
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
}

.btn-redes {
  font-size: 30px;
  color: white;
}
.btn-redes:hover {
  text-decoration: none;
  color: #081B26;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  background-color: #081B26;
}

.nav-link {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  text-align: center;
}
.nav-link:hover {
  background-size: 100% 2px;
}
.nav-link:focus {
  background-size: 100% 2px;
}

/* Footer */
.page-footer {
  background-color: #929fba;
  color: white;
}
.page-footer a {
  color: white;
}

.footer-copyright {
  background-color: #7383a6;
}

.btn-twitter {
  font-size: 3rem;
  color: white;
}
.btn-twitter:hover {
  text-decoration: none;
  color: #55acee;
}

.btn-face {
  font-size: 3rem;
  color: white;
}
.btn-face:hover {
  text-decoration: none;
  color: #3a5795;
}

.btn-insta {
  font-size: 3rem;
  color: white;
}
.btn-insta:hover {
  text-decoration: none;
  color: #5B51D8;
}

.btn-wsp {
  font-size: 3rem;
  color: white;
}
.btn-wsp:hover {
  text-decoration: none;
  color: #075E54;
}

/* Comienzo CSS INDEX */
/* CAROUSEL DE IMAGENES */
.carousel-caption-general {
  max-height: 60%;
  margin-bottom: 16px;
  background-color: rgba(8, 27, 38, 0.3);
  font-size: 3vw;
}
.carousel-caption-general h2 {
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 0 0 10px black;
}
.carousel-caption-general p {
  font-weight: lighter;
  line-height: 3vw;
  text-shadow: 0 0 5px black;
}
.carousel-caption-logo {
  width: 30%;
  min-width: 125px;
  display: block;
  margin: auto;
  bottom: 30%;
}
.carousel-caption-slogan {
  bottom: 10%;
}
.carousel-caption-slogan h2 {
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 0 0 10px black;
}

.Carrousel__Img {
  max-height: calc(100vh - 85px);
}

@media (max-width: 576px) {
  .carousel-caption {
    font-size: 14px;
  }
}
/* CSS Sub-seccion Comapñias */
.Companias {
  padding-top: 16px;
  background-image: linear-gradient(to bottom, whitesmoke, #081B26 75%);
}
.Companias__Titulo {
  font-size: 1.7rem;
  text-align: left;
  font-weight: bold;
  color: white;
  line-height: 1.8rem;
  justify-self: left;
  padding-left: 3rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #081B26;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: -15px;
}
.Companias__Img {
  padding-top: 16px;
  transition: transform 1s;
  max-width: 15rem;
}
.Companias__Img:hover {
  transform: scale(1.25, 1.25);
}
.Companias__Texto {
  display: block;
  margin: auto;
  max-width: 440px;
  font-size: 1rem;
  text-align: center;
  color: white;
  line-height: 1.5rem;
  padding-top: 16px;
}

/* 3ra Seccion: banner WhatsApp */
.Banner {
  background-color: #081B26;
  padding: 10px 20px;
}
.Banner__Texto {
  color: white;
  font-size: 2.5rem;
  line-height: 3rem;
}
.Banner__Link {
  text-decoration: none;
}
.Banner__Img {
  width: 7.8rem;
  height: 7.8rem;
  transition: 1s;
}
.Banner__Img:hover {
  transform: scale(1.25, 1.25);
}

.BannerWp {
  background-image: radial-gradient(#25D366, #075E54);
  max-width: 1300px;
  padding: 30px;
  border-style: groove;
  border-color: #081B26;
  border-radius: 100px;
  margin: 16px;
  overflow: hidden;
  --animate-duration: 2.0s;
}

/* Comienzo CSS seccion COBERTURAS */
.seguros {
  padding-bottom: 16px;
}

.coberturas {
  padding-top: 16px;
  /*Animacion de imagenes*/
}
.coberturas__fondo {
  border: 1px solid white;
  max-width: 370px;
  min-width: 234px;
  width: 23rem;
  height: 15rem;
}
.coberturas__tit-seg {
  background-color: #081B26;
  max-width: 300px;
  height: 3.33rem;
  margin-top: -25px;
  border-radius: 50px;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coberturas__tit-seg h2 {
  font-size: 1.2rem;
  color: white;
}
.coberturas__info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 370px;
  min-width: 234px;
  width: 22rem;
  height: 14rem;
  border-radius: 6px;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  background: rgba(8, 27, 38, 0.8);
}
@media screen and (min-width: 200px) and (max-width: 450px) {
  .coberturas__info {
    overflow: hidden;
  }
}
.coberturas__info-title {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  transition: all 500ms ease-out;
}
@media screen and (min-width: 200px) and (max-width: 450px) {
  .coberturas__info-title {
    font-size: 1.3em;
  }
}
.coberturas__info-txt {
  color: white;
  font-size: 1rem;
  max-width: 16rem;
  margin: auto;
}
@media screen and (min-width: 200px) and (max-width: 450px) {
  .coberturas__info-txt {
    width: 100%;
    font-size: 1em;
    margin: auto;
  }
}
.coberturas__info-img-link {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 10rem;
}
.coberturas__info-img-img {
  padding: 2px;
  width: 9rem;
  max-height: 50px;
  object-fit: contain;
}
.coberturas__info-img-img:hover {
  background-color: rgba(8, 27, 38, 0.8);
  border: 1px solid white;
  border-radius: 10px;
}

.coberturas:hover > .coberturas__info {
  opacity: 1;
  visibility: visible;
}

.coberturas:hover > .coberturas__info .coberturas__info-title {
  margin-top: 7%;
}

/* COMIENZO CSS COTIZACIONES */
.Multicotizador {
  background-color: #929fba;
  text-align: center;
  width: 100%;
  height: fit-content;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  box-shadow: 0 0 10px #000;
  border-radius: 100px;
}

.BannerCotizacion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
  margin: 16px 0px;
}
.BannerCotizacion a {
  text-decoration: none;
}
.BannerCotizacion__Texto {
  color: white;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-top: 16px;
  text-shadow: 0 0 10px white;
  text-align: center;
}
.BannerCotizacion__Texto:hover {
  transform: scale(1.25);
}
.BannerCotizacion__Img {
  display: block;
  margin: auto;
  box-shadow: 0 0 10px white;
  border-radius: 100%;
  background-color: #075E54;
  width: 12rem;
  height: 12rem;
  min-width: 100px;
  min-height: 100px;
  animation-name: wsp;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 7s;
  animation-delay: 3s;
}

@keyframes wsp {
  20% {
    background-color: #075E54;
  }
  50% {
    background-color: #25D366;
  }
  100% {
    transform: rotatey(360deg);
    background-color: #075E54;
  }
}
.cotizacion__video {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  width: 80vw;
  background-color: #081B26;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 10px #000;
}
.cotizacion__video h2 {
  padding-left: 1rem;
  color: white;
  text-shadow: 0 0 10px black;
}

/* COMIENZO CSS SECCION NOSOTROS */
.ContenedorNosotros {
  margin-top: 16px;
  margin-bottom: 16px;
}
.ContenedorNosotros h2 {
  text-shadow: 0 0 10px #000;
}

.Equipo {
  padding: 10px 10px 10px 10px;
  line-height: normal;
  text-align: center;
  font-size: 1rem;
  align-self: center;
}
.Equipo ul {
  list-style-type: none;
}
.Equipo__perfil {
  display: block;
  margin: auto;
  margin-top: 16px;
}
.Equipo__perfil img {
  width: 15rem;
}
.Equipo__perfil__nombre {
  background-color: #081B26;
  max-width: 300px;
  min-width: 150px;
  height: 5rem;
  margin-top: -25px;
  border-radius: 50px;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.Historia {
  padding: 10px 10px 10px 10px;
  padding-left: 32px;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 16px;
  background-color: white;
  box-shadow: 0 0 10px white;
  border-radius: 30px;
}
.Historia p {
  font-size: 1rem;
}

.Ubicacion {
  color: white;
  width: 100%;
  height: fit-content;
  text-align: center;
}
.Ubicacion h2 {
  color: white;
  text-shadow: 0 0 10px #000;
}

/* COMIENZO CSS DE LA SECCION SINIESTRO */
.info {
  background-color: #929fba;
  border-radius: 50px;
  width: 100%;
  margin-top: 16px;
  text-align: center;
  font-size: 1.5rem;
  padding: 16px;
}

.Formulario {
  margin-top: 16px;
  margin-bottom: 16px;
}

.FormularioSiniestro {
  background-color: white;
  box-shadow: 0 0 10px black;
  border-style: outset;
  border-color: #081B26;
  padding: 16px;
  max-width: 800px;
  display: block;
  margin: auto;
}
.FormularioSiniestro__Set {
  background-color: #f2f2f2;
}

.ContenedorBanner {
  background-image: radial-gradient(#25D366, #075E54);
  box-shadow: 0 0 10px white;
  border-radius: 60px;
  padding: 16px;
  max-width: 800px;
  display: block;
  margin: auto;
}

.BannerSiniestro__Texto {
  line-height: 2rem;
  color: white;
  font-size: 1.7rem;
  padding-right: 10px;
  text-align: center;
  text-decoration: underline white;
}

.Wsp {
  padding-top: 30px;
  height: fit-content;
  text-align: center;
}
.Wsp__Img {
  width: 12rem;
  height: 12rem;
  margin-top: 30px;
}
.Wsp__Texto {
  color: white;
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: center;
}
.Wsp__Link {
  text-decoration: none;
}

/* PARA QUE BOOTSTRAP NO AÑADA ESPACIO EN BLANCO A LA DERECHA */
.row {
  margin-right: 0px;
  margin-left: 0px;
}

/*# sourceMappingURL=style.css.map */
